name: CI

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  test-setup-nextstrain-cli:
    name: test-setup-nextstrain-cli (os=${{ matrix.os }})
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./actions/setup-nextstrain-cli
      - run: nextstrain version --verbose

  test-pathogen-repo-ci:
    uses: ./.github/workflows/pathogen-repo-ci.yaml
    with:
      repo: nextstrain/zika
      artifact-name: outputs-test-pathogen-repo-ci
    secrets: inherit

  test-docs-ci-conda:
    uses: ./.github/workflows/docs-ci.yaml
    with:
      repo: nextstrain/docs.nextstrain.org
      docs-directory: .
      environment-file: conda.yml

  test-docs-ci-pip:
    uses: ./.github/workflows/docs-ci.yaml
    with:
      repo: nextstrain/augur
      docs-directory: docs/
      pip-install-target: .[dev]

  test-pathogen-repo-build:
    permissions:
      id-token: write
    strategy:
      matrix:
        runtime: [docker, conda]
    uses: ./.github/workflows/pathogen-repo-build.yaml
    with:
      repo: nextstrain/zika-tutorial
      runtime: ${{ matrix.runtime }}
      run: nextstrain build --env BOGUS_ENVVAR .
      artifact-name: build-output-${{ matrix.runtime }}
      env: |
        BOGUS_ENVVAR: BOGUS_ENVVAR
    secrets: inherit

  # This job has to be separate from the matrix above because we want
  # to check the aws-batch-job-id output from the workflow but matrix outputs
  # currently will overwrite each other.
  # See <https://github.com/orgs/community/discussions/26639>
  test-pathogen-repo-build-aws-batch:
    permissions:
      id-token: write
    uses: ./.github/workflows/pathogen-repo-build.yaml
    with:
      repo: nextstrain/zika-tutorial
      runtime: aws-batch
      run: nextstrain build --env BOGUS_ENVVAR .
      artifact-name: build-output-aws-batch
      env: |
        BOGUS_ENVVAR: BOGUS_ENVVAR
    secrets: inherit

  test-pathogen-repo-build-aws-batch-id-output:
    needs: [test-pathogen-repo-build-aws-batch]
    permissions:
      id-token: write
    uses: ./.github/workflows/pathogen-repo-build.yaml
    with:
      repo: nextstrain/zika-tutorial
      runtime: aws-batch
      run: nextstrain build --attach "$AWS_BATCH_JOB_ID" .
      artifact-name: build-output-aws-batch-reattached
      env: |
        AWS_BATCH_JOB_ID: ${{ needs.test-pathogen-repo-build-aws-batch.outputs.aws-batch-job-id }}
    secrets: inherit

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: ./devel/check-readme
      - uses: ./actions/shellcheck
